@media (max-width: 320px) and (orientation: portrait) {
  :root {
    --carousel-transition: 300ms;
    --carousel-opacity-inactive: 0.7;
    --carousel-opacity-active: 1;
    --carousel-opacity-near: 0.9;

    background-color: #242424;
  }

  .app-bar-title {
    font-size: 0.8rem;
  }

  .current-info-bar {
    font-size: 0.7rem;
    padding: 0.2rem;
    line-height: 2.425;
  }

  :deep(.branch-selection .v-input__control .v-field) {
    font-size: 9px;
    --v-field-input-padding-top: 1px;
    --v-field-input-padding-bottom: 1px;
    --v-input-control-height: 10px;
  }

  .carousel {
    --vc-nav-background: rgba(255, 255, 255, 0.7);
    --vc-nav-border-radius: 100%;
  }

  .carousel__viewport {
    perspective: 2000px;
  }

  .carousel__track {
    transform-style: preserve-3d;
  }

  .carousel__slide--sliding {
    transition:
      opacity var(--carousel-transition),
      transform var(--carousel-transition);
  }

  .carousel.is-dragging .carousel__slide {
    transition:
      opacity var(--carousel-transition),
      transform var(--carousel-transition);
  }

  .carousel__slide {
    opacity: var(--carousel-opacity-inactive);
    transform: translateX(10px) rotateY(-12deg) scale(0.9);
  }

  .carousel__slide--prev {
    opacity: var(--carousel-opacity-near);
    transform: rotateY(-10deg) scale(0.95) translateX(-10px);
  }

  .carousel__slide--active {
    opacity: var(--carousel-opacity-active);
    transform: rotateY(0) scale(1);
  }

  .carousel__slide--next {
    opacity: var(--carousel-opacity-near);
    transform: rotateY(10deg) scale(0.95) translateX(10px);
  }

  .carousel__slide--next~.carousel__slide {
    opacity: var(--carousel-opacity-inactive);
    transform: translateX(-10px) rotateY(12deg) scale(0.9);
  }

  .carousel-card {
    width: 200px !important;
    height: 380px !important;
    margin: auto;
    display: flex;
    border-radius: 10px;
    flex-direction: column;
  }

  .carousel-card .v-card-text {
    flex: 1;
    overflow-y: auto;
  }

  .time-bubble {
    position: absolute;
    top: 10px;
    left: -28px;
    background-color: white;
    border-radius: 16px;
    padding: 4px 12px;
    font-size: 14px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 11;
  }

  .time-line {
    position: absolute;
    top: 45px;
    width: 2px;
    right: 1.5px;
    background: repeating-linear-gradient(to bottom, #FF7373 0, #FF7373 5px, transparent 5px, transparent 10px);
    z-index: 10;
  }

  .timeline-container {
    position: relative;
    /* padding-top: 20px;
  padding-left: 30px; */
    padding: 20px 30px 0px 30px;
    overflow-x: auto;
    height: 330px;
  }

  .timeline-container::-webkit-scrollbar {
    display: none;
  }

  .timeline-header {
    position: relative;
    height: 30px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    margin-bottom: 10px;
  }

  .time-marker {
    position: absolute;
    transform: translateX(-50%);
    font-size: 0.75rem;
    color: rgba(0, 0, 0, 0.6);
    top: 0;
  }

  /* Add a tick mark under each time label */
  .time-marker::after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: 1px;
    height: 5px;
    background-color: rgba(0, 0, 0, 0.3);
  }

  .timeline-content {
    position: relative;
    margin-top: 20px;
    height: 140px;
  }

  .total-timeline {
    width: var(--timeline-total-width);
    transform: translateY(var(--requreid-height));
  }
}