:root {
    --meal-log-bg-color: #bfe0ff !important;
}

.meal-log-page {
    height: 130vh;
    overflow: scroll;
}

.breadcrumb {
    font-size: 1rem;
}

.current-time {
    font-size: 20px;
}

.branch-selection {
    width: 200px;
}

:deep(.branch-selection .v-input__control .v-field) {
    font-size: 20px;
    --v-field-input-padding-top: 1px;
    --v-field-input-padding-bottom: 1px;
    --v-input-control-height: 10px;
}

.v-list-group__items .v-list-item {
    padding-inline-start: 48px !important;
}

:deep(.task-timeline .v-list-item .v-list-item__content) {
    display: flex;
    justify-content: space-between;
}

.v-list-group__items .v-list-item .v-list-item-title {
    font-size: 1rem;
    white-space: wrap;
}

.associate-forms-row {
    height: 100px;
    display: flex;
    flex-wrap: nowrap;
    overflow-y: scroll;
}

.associate-forms-row .associate-form-col {
    text-align: center;
    margin: 8px;
}

.associate-forms-row .v-col {
    text-align: center;
    font-size: 0.9rem;
    padding: 0;
    padding-right: 10px;
    margin: 8px
}

.associate-forms-row::-webkit-scrollbar {
    display: none;
}

.task-timeline {
    position: relative;
    padding-left: 12px;
}

.timeline-indicator {
    position: absolute;
    left: 10px;
    top: 0;
    bottom: 0;
    width: 2px;
    border-left: 4px dotted #ccc;
    height: 90%;
}

.meal-list-item-title {
    font-size: 1rem;
}

.v-dialog>.v-overlay__content>.v-card>.v-card-text {
    padding: 1rem;
}

.fillTime {
    display: inline-block;
    padding: 0.125rem 0.5rem;
    border-radius: 0.25rem;
    background-color: #ff859d;
}

.default-signature-checkbox {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 10px;
}

.back-to-top {
    position: absolute;
    right: 2%;
}

.back-to-top .back-to-top-icon {
    color: #43c3c5;
}


.sticky-bottom-action {
    background-color: #bfe0ff;
    display: flex;
    justify-content: space-around;
    padding-top: 10px;
    padding-bottom: 10px;
    bottom: 0px;
    z-index: 1004;
    transform: translateY(0px);
    position: fixed;
    height: 58px;
    left: 0px;
    width: calc(100% + 0px);
}

/* TODO Visual Update that did not make in: */
.signature-line {
    width: 200px;
    height: 2px;
    background-color: #000;
    cursor: pointer;
}

/* visual indication for next task */
.v-btn:not([disabled]) .v-icon[color="primary"] {
    animation: pulse 1.5s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

/* Make disabled buttons clearly indicate they're not available yet */
.v-btn[disabled] {
    opacity: 0.5;
}